// ===ОБЩИЕ КЛАССЫ===
// Ограничитель контента

:root {
    --clr-orange: #fe9400;
    --clr-blue: #1e5eff;
    --clr-black: #17181c;
    --clr-darkgray: #232429;
    --clr-fon: #f5f5f5;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: em(1480, 16)) {
        padding: 0 40px;
    }

    @media (max-width: em($mPoint-4, 16)) {
        padding: 0 30px;
    }

    @media (max-width: em($mPoint-5, 16)) {
        padding: 0 20px;
    }
}

// Стили кнопок
._btn {
    display: inline-block;
    text-align: center;
    font-family: "Unbounded";
    font-weight: 400;
    font-size: 20px !important;
    cursor: pointer;

    &._blue {
        color: white;
        background-color: var(--clr-blue);

        @media (min-width: em($mPoint-4, 16)) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    @media (max-width: em($mPoint-5, 16)) {
        font-size: 16px !important;
    }
}
